#bg-pic {
    height: 44rem;
    background-image: url("../assets/photos/images/hero-pic4.jpg");
    filter: blur(2px);
}

#description {
    color: white;
    position: relative;
    bottom: 30rem;
    height: 0rem;

}

#description h1 {
    font-size: 2.3rem;
    margin: 0 0 5rem 0;
}

#description a {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
    margin: 4rem auto 0 auto;
    width: 9rem;
    height:2.5rem ;
    color: white;
    font-weight: bold;
    background-color: rgb(1, 172, 152);
    padding: 0 0.5rem;
    border-radius: 6px;
    transition: box-shadow 0.2s ease-out;
}

#description a:hover {
    box-shadow: 1px 1px 4px rgba(220, 220, 220, 0.467);
}

#description p {
    margin-left: 0.65rem;
    text-transform: uppercase;
}

#description svg {
    width: 1.5rem;
    margin-left: 0.3rem;
}

#services {
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(56,208,215,1) 0%, rgba(124,168,235,1) 100%);
    padding: 4rem;
}

#services h2 {
    margin: 0;
    padding: 2rem;
    color: white;
}

#services hr {
    border: 1.2px solid white;
    width: 60rem;
    position: relative;
    margin: 0 auto 0 auto;

}

#services ul {
    width: 55rem;
    margin:2rem auto 0 auto;
    display: grid;
    grid-template-columns:1fr 1fr;
    gap: 3rem 2rem;
}

.service {
    background-color: aliceblue;
    width: 19rem;
    padding: 2.5rem;
    border-radius: 10px;
}

.title {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.title p{
    margin-left:0.5rem;
    color: rgb(1, 172, 152);
    font-size: 1.3rem;
    font-weight: bold;
}

.details p{
    color: rgb(81, 81, 81);
}
